snippet img "img" b
![${1:Alt text}](${2:/path/to/img.jpg} ${3:"Optional title"})
endsnippet

snippet t1 "title 1" b
# ${1:`v expand("%:t")`}
endsnippet

snippet t2 "title 2" b
## ${1:title 2}
endsnippet

snippet t3 "title 3" b
### ${1:title 3}
endsnippet

snippet t4 "title 4" b
#### ${1:title 4}
endsnippet

snippet t5 "title 5" b
##### ${1:title 5}
endsnippet

snippet t6 "title 6" b
###### ${1:title 6}
endsnippet
